/****** logos for all houses ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** images ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** headings ******/
 h1 { 
  text-align: center;
   font-family: georgia; 
  color: Black;
}

h2 {
  text-align: center;
  font-family: georgia;
  color: black;
}

h4 {
  text-align: center;
  font-family: georgia;
 color: Black;
}