/****** heding style *****/

h2 { 
text-align: center;
font-family:Georgia;
color: Black; 
 font-size: 50px;
 
}

h4 {
  text-align: center;
  font-family:Georgia;
  color: black;
}

/****** Purple team house photo *****/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: 80%;
}

/****** logos *****/
* {
  box-sizing: border-box;
  width: 100%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
