/****** heding style *****/

h2 {
  text-align: center;
  font-family: georgia;
  color: Black;
  font-size: 40px;
}

h3 {
  text-align: center;
  font-family: georgia;
  color: Black;
}

h4 {
  text-align: center;
  font-family: georgia;
}

/****** Purple team house photo *****/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/****** logos *****/
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/****** logos for all houses ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** images ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** Main heading *****/
body {
color: Black;
}

h1 { 
  text-align: center;
   font-family: georgia; 
}

/****** Heading *****/
  body {
color: Black;
}

h2 { 
  text-align: center;
   font-family: georgia; 
}

h4 {
  text-align: center;
  font-family: georgia;
 color: Black;
}

/****** logos for all houses ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** images ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** Main heading *****/
 h1 { 
  text-align: center;
   font-family: georgia; 
  color: Black;
}

/****** Heading *****/
h2 {
  text-align: center;
  font-family: georgia;
  color: black;
}

h4 {
  text-align: center;
  font-family: georgia;
 color: Black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}