/****** Logos ******/
w3-image {
  align: center;
  display: block;
  margin-left:  auto;
  margin-right: auto;
  width:40%;
}

style h2 { 
  text-align: center;
  color: Black;
}

h4 {
  text-align: center;
  color: black;
}

h3 {
  text-align: center;
 color: Black;
  font-size: 40px;
}

