<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tararua House</title>
h1 {
  text-align: center;
  color: Black;
  Font-size: 24px;
}

h2 {
  text align: center;
  color: black;
  font-size: 24px;
}

h3 {
  text-align: center;
  color: black;
  font-size: 18px;
}

h4 {
  text-align: center;
  color: black;
  Font-size: 16px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;