/****** logos for all houses ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** images ******/
img {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/****** headings ******/
 h1 { 
  text-align: center;
   font-family: georgia; 
  color: Black;
}

h2 {
  text-align: center;
  font-family: georgia;
  color: black;
}

h4 {
  text-align: center;
  font-family: georgia;
 color: Black;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 89px;
  background-color: #dddddd;
}